In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [ ]:
df_test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Titanic/test.csv')
df_train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Titanic/train.csv')

In [ ]:
df_train.head()

   PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0            1         0       3  ...   7.2500    NaN         S
1            2         1       1  ...  71.2833    C85         C
2            3         1       3  ...   7.9250    NaN         S
3            4         1       1  ...  53.1000   C123         S
4            5         0       3  ...   8.0500    NaN         S

[5 rows x 12 columns]

In [ ]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()
df_train['Sex'] = LE.fit_transform(df_train['Sex'])
print(LE.classes_)
print(np.sort(df_train['Sex'].unique()))
print('==================================================================')

['female' 'male']
[0 1]
==================================================================

In [ ]:
df_train.corr().style.background_gradient().set_precision(2)

In [ ]:
df_train = df_train.drop(['Cabin','PassengerId','Name'], axis=1)

In [ ]:
df_train = df_train.drop(['Ticket'], axis=1)

In [ ]:
df_train = df_train.drop(['Embarked'], axis=1)

In [ ]:
df_train.describe()

         Survived      Pclass         Sex  ...       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean     0.383838    2.308642    0.647587  ...    0.523008    0.381594   32.204208
std      0.486592    0.836071    0.477990  ...    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.000000    2.000000    0.000000  ...    0.000000    0.000000    7.910400
50%      0.000000    3.000000    1.000000  ...    0.000000    0.000000   14.454200
75%      1.000000    3.000000    1.000000  ...    1.000000    0.000000   31.000000
max      1.000000    3.000000    1.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [ ]:
df_train = df_train.fillna(value = {'Age': df_train['Age'].median()})

In [ ]:
from sklearn.preprocessing import MinMaxScaler  
scaler = MinMaxScaler()  

scaling_column = ['Age','Fare']
df_train[scaling_column] = scaler.fit_transform(df_train[scaling_column])
print(df_train[scaling_column].describe().T[['min','max']])

      min  max
Age   0.0  1.0
Fare  0.0  1.0

In [ ]:
df_train.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare
0         0       3    1  0.271174      1      0  0.014151
1         1       1    0  0.472229      1      0  0.139136
2         1       3    0  0.321438      0      0  0.015469
3         1       1    0  0.434531      1      0  0.103644
4         0       3    1  0.434531      0      0  0.015713

In [ ]:
df_test = df_test.drop(['Cabin','PassengerId','Name','Ticket','Embarked'], axis=1)

In [ ]:
LE = LabelEncoder()
df_test['Sex'] = LE.fit_transform(df_test['Sex'])
print(LE.classes_)
print(np.sort(df_test['Sex'].unique()))
print('==================================================================')

['female' 'male']
[0 1]
==================================================================

In [ ]:
from sklearn.preprocessing import MinMaxScaler  
scaler = MinMaxScaler()  

scaling_column = ['Age','Fare']
df_test[scaling_column] = scaler.fit_transform(df_test[scaling_column])
print(df_test[scaling_column].describe().T[['min','max']])

      min  max
Age   0.0  1.0
Fare  0.0  1.0

In [ ]:
df_test = df_test.fillna(value = {'Age': df_test['Age'].median(), 'Fare': df_test['Fare'].mean()})

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   SibSp   418 non-null    int64
 4   Parch   418 non-null    int64
 5   Fare    418 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 19.7 KB

In [ ]:
X = df_train.drop(['Survived'], axis = 1)
y = df_train['Survived']
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)

Shape of X: (891, 6)
Shape of y: (891,)

In [ ]:
from sklearn.model_selection import train_test_split
# splitting the X, and y
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state = 0)
# checking the shapes
print("Shape of X_train :", X_train.shape)
print("Shape of y_train :", y_train.shape)
print("Shape of X_test :", X_test.shape)
print("Shape of y_test :", y_test.shape)

Shape of X_train : (712, 6)
Shape of y_train : (712,)
Shape of X_test : (179, 6)
Shape of y_test : (179,)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

# Call the classifier
logreg = LogisticRegression()
# Fit the classifier to the training data  
logreg = logreg.fit(X_train,y_train)
#Training Model: Predict 
y_pred = logreg.predict(df_test)

#Evaluate Model Performance
print('Training Accuracy :', logreg.score(X_train,y_train))  
print('Testing Accuracy :', logreg.score(X_test,y_test))

Training Accuracy : 0.8019662921348315
Testing Accuracy : 0.7988826815642458

In [ ]:
y_pred.shape

(418,)

In [ ]:
output = pd.DataFrame({'PassengerId': pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Titanic/test.csv').PassengerId,
                       'Survived': y_pred})
output.to_csv('titanic.csv', index=False)

In [ ]:
hasil = pd.read_csv('/content/titanic.csv')
hasil.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1